<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Google Calendar</h2>
        <h3 class="oe_slogan">Get your meetings, your leaves...  Get your calendar anywhere and never forget an event.</h3>
        <div class="oe_span12">
            <img src="the_calendar.png" class="oe_picture oe_screenshot">                            
        </div>        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
         <h2 class="oe_slogan">Keep an eye on your events</h2>
         <div class="oe_span6">
            <p class='oe_mt32'>
				See easily the purpose of the meeting, the start time and also the attendee(s)... All that without click on anything...
			</p>			
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="an_event.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
         <h2 class="oe_slogan">Create so easily an event</h2>
         <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="create_quick.png">
         </div>
         <div class="oe_span6">
            <p class='oe_mt32'>
				In just one click you can create an event...<br/>
				You can drag and drop your event if you want moved it to another timing.<br/>
				You can shrink or extend the event if you need to change the start's hours or the duration of your meeting.
			</p>			
         </div>        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
         <h2 class="oe_slogan">Create recurrent event</h2>
         <div class="oe_span6">
            <p class='oe_mt32'>
				You can also create recurrent events with only one event.<br/>
				You need to create an event each monday of the week ? With only one it's possible, you could specify the recurrence and if one of this event is moved, or deleted, it's not a problem, you can untie your event from the others recurrences.
			</p>			
         </div>
         <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="recurrent.png">
         </div>
        
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row">
         <h2 class="oe_slogan">See all events you wants </h2>
         <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="coworker.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
				See in your calendar, the event from others peoples where your are attendee, but also their events by simply adding your favorites coworkers.<br/>
				Every coworker will have their own color in your calendar, and every attendee will have their avatar in the event...<br/>
			</p>			
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
         <h2 class="oe_slogan">Get an email</h2>
         <div class="oe_span6">
            <p class='oe_mt32'>
				You will receive an email at creation of an event where you are attendee, but also when this event is updated for some fields as date start, ...
			</p>			
         </div>
         <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="email.png">
         </div>
        
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row">
         <h2 class="oe_slogan">Be notified </h2>
         <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="notification.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
				You can ask to have a alarm of type 'notification' in your Juniper.<br/>
				You will have a notification in you Juniper which ever the page you are.
			</p>			
        </div>
        
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Google Calendar</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
				With the plugin Google_calendar, you can synchronize your Juniper calendar with Google Calendar.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="calendar_in_action.png">
        </div>
        
    </div>
</section>
