/* We want to show system's default font in the mail sent with the basic theme.
   And so we remove font-family from basic theme while saving. But by doing so
   in readonly mode is not getting proper font in juniper. So we added if from here.
 */
#wrapwrap .o_layout.o_basic_theme {
    font-family: -apple-system, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*
Make sure that the mail body takes all available space
 */
body.o_readonly.o_in_iframe {
    margin: 0;
}
