
.zoomjuniper {
    position: relative;

    /* 'Shrink-wrap' the element */
    display: inline-block;
    *display: inline;
    *zoom: 1;

    img {
        vertical-align: bottom;
    }
}

.zoomjuniper-flyout {
    position:absolute;
    z-index: 100;
    overflow: hidden;
    background: #FFF;
    top: 0;
    width: 100%;
    height: 100%;
    img {
        max-width: 500%;
    }
}

.zoomjuniper-hover .zoomjuniper-flyout {
    left: 0;
}

.zoomjuniper-next .zoomjuniper-flyout {
    left: 100%;
}